src/.htaccess.sample
src/.modgit/
src/.modman/
src/app/code/community/Phoenix/Moneybookers/
src/app/code/community/Cm/RedisSession/
src/app/code/core/
src/app/design/adminhtml/default/default/
src/app/design/frontend/base/
src/app/design/frontend/rwd/
src/app/design/frontend/default/blank/
src/app/design/frontend/default/default/
src/app/design/frontend/default/iphone/
src/app/design/frontend/default/modern/
src/app/design/frontend/enterprise/default
src/app/design/install/
src/app/etc/modules/Enterprise_*
src/app/etc/modules/Mage_*.xml
src/app/etc/modules/Phoenix_Moneybookers.xml
src/app/etc/modules/Cm_RedisSession.xml
src/app/etc/applied.patches.list
src/app/etc/config.xml
src/app/etc/enterprise.xml
src/app/etc/local.xml.additional
src/app/etc/local.xml.template
src/app/etc/local.xml
src/app/.htaccess
src/app/bootstrap.php
src/app/locale/en_US/
src/app/Mage.php
/cron.php
src/cron.sh
src/dev/.htaccess
src/dev/tests/functional/
src/downloader/
src/errors/
src/favicon.ico
src/get.php
src/includes/
src/index.php
src/index.php.sample
src/install.php
src/js/blank.html
src/js/calendar/
src/js/enterprise/
src/js/extjs/
src/js/firebug/
src/js/flash/
src/js/index.php
src/js/jscolor/
src/js/lib/
src/js/mage/
src/js/prototype/
src/js/scriptaculous/
src/js/spacer.gif
src/js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
src/media/*
src/api.php
src/nbproject/
src/pear
src/pear/
src/php.ini.sample
src/pkginfo/
src/RELEASE_NOTES.txt
src/shell/.htaccess
src/shell/abstract.php
src/shell/compiler.php
src/shell/indexer.php
src/shell/log.php
src/sitemap.xml
src/skin/adminhtml/default/default/
src/skin/adminhtml/default/enterprise
src/skin/frontend/base/
src/skin/frontend/rwd/
src/skin/frontend/default/blank/
src/skin/frontend/default/blue/
src/skin/frontend/default/default/
src/skin/frontend/default/french/
src/skin/frontend/default/german/
src/skin/frontend/default/iphone/
src/skin/frontend/default/modern/
src/skin/frontend/enterprise
src/skin/install/
src/var/*
src/var/cache/*
