<?xml version="1.0"?>
<config>
    <modules>
        <Mau_Thunghiem>
            <version>0.1.0</version>
        </Mau_Thunghiem>
    </modules>
    <frontend>
        <routers>
            <thunghiem>
                <use>standard</use>
                <args>
                    <module>Mau_Thunghiem</module>
                    <frontName>thunghiem</frontName>
                </args>
            </thunghiem>
        </routers>
        <layout>
            <updates>
                <thunghiem>
                    <file>thunghiem.xml</file>
                </thunghiem>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<thunghiem>
				<use>admin</use>
				<args>
					<module>Mau_Thunghiem</module>
					<frontName>thunghiem</frontName>
				</args>
			</thunghiem>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<thunghiem module="thunghiem">
				<title>Thunghiem</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="thunghiem">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>thunghiem/adminhtml_thunghiem</action>
					</items>
				</children>
			</thunghiem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mau_Thunghiem>
							<title>Thunghiem Module</title>
							<sort_order>10</sort_order>
						</Mau_Thunghiem>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<thunghiem>
					<file>thunghiem.xml</file>
				</thunghiem>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <thunghiem>
                <class>Mau_Thunghiem_Model</class>
                <resourceModel>thunghiem_mysql4</resourceModel>
            </thunghiem>
            <thunghiem_mysql4>
                <class>Mau_Thunghiem_Model_Mysql4</class>
                <entities>
                    <thunghiem>
                        <table>thunghiem</table>
                    </thunghiem>
                </entities>
            </thunghiem_mysql4>
        </models>
        <resources>
            <thunghiem_setup>
                <setup>
                    <module>Mau_Thunghiem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thunghiem_setup>
            <thunghiem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thunghiem_write>
            <thunghiem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thunghiem_read>
        </resources>
        <blocks>
            <thunghiem>
                <class>Mau_Thunghiem_Block</class>
            </thunghiem>
        </blocks>
        <helpers>
            <thunghiem>
                <class>Mau_Thunghiem_Helper</class>
            </thunghiem>
        </helpers>
    </global>
</config>